<ng-container *ngIf="turno  && ventanilla">


    <div [ngClass]="turno.color">

        <div class="box-turno borde inactivo">

            <div class="cabezal fondo text-center">
                <h4 class="upper" *ngIf="turno.tipo === 'prioritario'">prioritario</h4>
                <h4 class="upper" *ngIf="turno.tipo === 'noPrioritario'">no prioritario</h4>
            </div>

            <div class="cuerpo container-fluid">
                <div class="d-inline numero" *ngIf="turno?.tipo && ventanilla?.ultimo[turno.tipo]">
                    <!-- *ngIf="ventanilla?.ultimo[turno.tipo].numero >= 0" -->
                    {{ventanilla.ultimo[turno.tipo].letra ? ventanilla.ultimo[turno.tipo].letra : ''}} {{ventanilla.ultimo[turno.tipo].numero}}
                </div>

                <br />

                <!-- 
                <h3 *ngIf="turno.ultimoNumero === (turno.numeroFin - 10)">Atención:</h3>
                <span *ngIf="turno.ultimoNumero > 1 && turno.ultimoNumero === (turno.numeroFin - 10)">últimos {{turno.ultimoNumero - 10}} turnos disponibles</span>
                -->


                <!-- <span *ngIf="turno.ultimoNumero === (turno.numeroFin)">ÚLTIMO turno disponible</span> -->

                <!-- <div *ngIf="turno.ultimoNumero === turno.numeroFin">
                    <h4 class="tipo-turno">No quedan turnos disponibles, por favor cargue un nuevo turno
                        <b *ngIf="turno.tipo === 'prioritario'">prioritario</b>
                        <b *ngIf="turno.tipo === 'noPrioritario'">no prioritario</b>
                    </h4>

                    <div class="text-center">
                        <a [routerLink]="['/config/turnos']" class="btn btn-primary">Cargar turnos</a>
                    </div>
                </div> -->
            </div>

            <div class="container-fluid">
                <div class="row">

                    <!-- Rellamar turnos -->
                    <div class="col text-center">

                        <ng-container>
                            <!-- && turno?.ultimoNumero >= 0 -->
                            <button class="btn btn-primary" (click)="puedReLlamar() && reLlamar(turno, 'actual')" [disabled]="!rellamar || !llamar">
                                <i class="mdi mdi-bell-ring mdi-48px align-middle badge-numero-llamado">
                                    <span class="numero-llamado"  *ngIf="turno?.tipo && ventanilla?.ultimo[turno.tipo]?.llamado">{{ventanilla.ultimo[turno.tipo].llamado}}</span>
                                </i>
                                <br />
                                <span class="align-middle">Rellamar actual</span>
                            </button>
                        </ng-container>
                    </div>
                    <!-- // FIN Rellamar turnos -->

                    <div class="col text-center">
                        <!-- <ng-container *ngIf="(turno?.numeroFin > turno?.ultimoNumero)"> -->
                        <ng-container>
                            <button class="btn btn-primary" (click)="puedeLlamar() && siguiente(turno)" [disabled]="!llamar || !rellamar">
                                <i class="mdi mdi-arrow-right-bold-box-outline mdi-48px align-middle"></i>
                                <br />
                                <span class="align-middle">Llamar siguiente</span>
                            </button>
                        </ng-container>

                        <!-- // FIN iniciar turnos o llamar al siguiente -->

                        <!-- // FIN Turno finalizado, marcar como finalizado y traer el proximo -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>