.ventanilla {
    border: 1px solid #f9f9f9;
}

.ventanilla .header {
    height: 50px;
    border-bottom: 1px solid black;
    padding: 5px;
}

.ventanilla .numero {
    font-size: 40px;
    height: 100px;
    line-height: 40px;
    padding: 20px 0;
}