<ng-container *ngIf="ventanillas">
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let ventanilla of ventanillas">
                <div class="col">
                    <div class="ventanilla">

                        <div class="header">
                            <div class="text-center">
                                <b *ngIf="ventanilla.prioritaria">Prioritaria</b>
                                <b *ngIf="!ventanilla.prioritaria">No Prioritaria</b>
                            </div>

                        </div>

                        <div class="text-center numero">
                            Ventanilla <b>{{ventanilla.numeroVentanilla}}</b>
                        </div>

                        <button type="button" class="btn btn-primary form-control" (click)="seleccionar(ventanilla)" [disabled]="ventanilla.enUso">Seleccionar</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>