<section id="ventanilla">

    <div class="container-fluid" *ngIf="ventanilla && !ventanilla.pausa">
        <div class="row">
            <div class="col-6">
                <app-turno [turno]="turnoActualPrioritario" [ventanilla]="ventanilla" *ngIf="turnoActualPrioritario" class="col-6 "></app-turno>

                <h5 *ngIf="!turnoActualPrioritario && !turnoActualPrioritario?._id">No hay turnos <b>Prioritarios</b> en esta ventanilla</h5>
            </div>

            <div class="col-6">
                <app-turno [turno]="turnoActualNoPrioritario" [ventanilla]="ventanilla" *ngIf="turnoActualNoPrioritario" class="col-6 "></app-turno>

                <h5 *ngIf="!turnoActualNoPrioritario && !turnoActualNoPrioritario?._id" class="float-right">No hay turnos <b>No Prioritarios</b> para esta ventanilla</h5>
            </div>
        </div>

        <!--<div class="row" *ngIf="ventanilla && (!turnoActualPrioritario || !turnoActualNoPrioritario)">
            <div class="col">
                <a [routerLink]="['/config/turnos']" class="btn btn-primary">Cargar turnos</a>
            </div>
        </div>-->

    </div>

    <!--&& (turnoActualPrioritario || turnoActualNoPrioritario)-->

    <ng-container *ngIf="ventanilla">
        <div class="text-center" *ngIf="ventanilla.pausa">
            <button type="button" class="btn btn-success" (click)="reanudar()" *ngIf="ventanilla.pausa">Reanudar</button>
        </div>

        <div class="text-center" *ngIf="!ventanilla.pausa">
            <button type="button" class="btn btn-pausar" (click)="pausar()" *ngIf="!ventanilla.pausa">Pausar ventanilla</button>
        </div>
    </ng-container>

    <ng-container *ngIf="sinVentanillas">
        <h3>No se encontró la ventanilla</h3>
    </ng-container>

</section>