<style>
  input[type="radio"] {
    display: none;
  }

  input[type="radio"]+label {
    color: #292321;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

  input[type="radio"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }

  input[type="radio"]+label span {
    /*background-color: #292321;*/
    /*border: 1px solid black;*/
  }

  input[type="radio"]:checked+label span {
    /*background-color: #CC3300;*/
    outline: solid 2px #00A8E0;
  }

  .cuadradito:checked {
    /*outline: solid 2px #00A8E0;*/
  }

  input[type="radio"]+label span,
  input[type="radio"]:checked+label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
  }

</style>

<div class="container">
  <div class="row">
    <div class="col">
      <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">

        <h2 class="border-bottom">Configuración de turnos</h2>

        <div class="row">
          <div class="col-6">
            <h5 class="border-bottom"><strong>Prioridad</strong></h5>

            <select class="form-control" [(ngModel)]="turnos.tipo" name="tipo" #tipo="ngModel" required>
                            <option value="prioritario">Prioritario</option>
                            <option value="no-prioritario">No Prioritario</option>
                        </select>
            <span [hidden]="tipo.valid || (tipo.pristine && !f.submitted)" class="badge badge-danger">Debe ingresar un valor</span>
          </div>
          <div class="col-6">
            <h5 class="border-bottom"><strong>Seleccione el color</strong></h5>
            <div class="inline-block">
              <ng-container *ngFor="let _color of colors">
                <input name="color" id="color-{{_color}}" value="{{_color}}" type="radio" class="btn cuadradito violeta" [(ngModel)]="turnos.color"
                  #color="ngModel" />
                <label for="color-{{_color}}" class="cuadradito {{_color}}"><span></span></label>
              </ng-container>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col">
            <h5 class="border-bottom"><strong>Numeración</strong></h5>
            <h5>Números desde / hasta</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-6">

            <h6>Número de inicio</h6>
            <input type="number" class="form-control" placeholder="Desde el 00" name="numeroInicio" #numeroInicio="ngModel" [(ngModel)]="turnos.numeroInicio"
              required />
            <span [hidden]="numeroInicio.valid || (numeroInicio.pristine && !f.submitted)" class="badge badge-danger">Debe ingresar un valor</span>
          </div>

          <div class="col-6">
            <h6>Número de finalización</h6>
            <input type="number" class="form-control" placeholder="Hasta el 999" name="numeroFin" #numeroFin="ngModel" [(ngModel)]="turnos.numeroFin"
              required />
            <span [hidden]="numeroFin.valid || (numeroFin.pristine && !f.submitted)" class="badge badge-danger">Debe ingresar un valor</span>
          </div>


        </div>

        <div class="row">
          <div class="col">
            <h5 class="">Letras desde / hasta</h5>
          </div>
        </div>


        <div class="row">
          <div class="col-4">
            <h6>Letra de inicio</h6>
            <input type="text" class="form-control" placeholder="Desde la A" name="letraInicio" #letraInicio="ngModel" [(ngModel)]="turnos.letraInicio"
            />
          </div>
          <br>
          <div class="col-4">
            <h6>Letra de finalización</h6>
            <input type="text" class="form-control" placeholder="Hasta la E" name="letraFin" #letraFin="ngModel" [(ngModel)]="turnos.letraFin"
              [required]="turnos.letraInicio != ''" />
            <span [hidden]="letraFin.valid || (letraFin.pristine && !f.submitted)" class="badge badge-danger">Debe ingresar una letra de finalización, o por lo menos la letra <b>{{turnos.letraInicio}}</b></span>
          </div>

          <div class="col-4">
            <h6>Cantidad de números por letra</h6>
            <input type="number" class="form-control" placeholder="100" name="step" #step="ngModel" [(ngModel)]="turnos.step" [required]="turnos.letraInicio != '' && turnos.letraFin != ''"
            />
            <span [hidden]="step.valid || (step.pristine && !f.submitted)" class="badge badge-danger">Debe ingresar un valor</span>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary float-sm-right">Guardar</button>
          </div>
        </div>
        <hr>

      </form>

      <div class="row">
        <div class="col">
          <h5 class="border-bottom"><strong>Limpiar turnero</strong></h5>
          <button class="btn btn-danger" (click)="eliminarTurnos()">
              Eliminar todos los turnos
            </button>
        </div>
      </div>

    </div>
  </div>
</div>
